<head>
  <title>Φόρτωση</title>
  <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script src="dist/include-html.min.js"></script>
  <script src="adminUpload.js"></script>
</head>

<body>
  <div data-include="/menuadmin.html"></div>
  <div class="main">
    <p class="sign" style=text-align:center>Ανεβάστε δεδομένα</p>
    <form action="/adminUpload" method="POST">
      <input class="upload" type="file" name="json" id="json" />
      <button class="submit" type="submit">Φόρτωση αρχείου</button>
    </form>
    <form action="/adminDelete" method="POST">
      <button class="submit" type="submit">Διαγραφή όλων</button>
    </form>
  </div>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const form = document.querySelector("form[action='/adminUpload']");
      const fileInput = document.getElementById("json");
      const submitButton = document.querySelector(".submit");

      form.addEventListener("submit", function (event) {
        if (fileInput.files.length === 0) {
          event.preventDefault();
          alert("Επιλέξτε ένα αρχείο για φόρτωση");
        }
      });
    });
</script>