
<head>
    <title>Αλλαγή κωδικού</title>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" href="style.css">
    <script src="dist/include-html.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>
  <body>  <div data-include="/sidebar.html"></div>
    <script src="myglobals.js" type="text/javascript"></script>
  <script src="dist/include-html.min.js"></script>
    <div data-include="/menu.html"></div>
  

    <form action="/register" method="post">
      <div class = "main">
        <form class="form1"> 
          <h2 class="sign" align="center">Αλλαγή κωδικού χρήστη</h2> 
       <input
        class="box"
        type="text"
        name="username"
        id="name"
        placeholder="Όνομα χρήστη"
        required
      />

      <input
      class="box"
      type="password"
      name="password"
      pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
      title="Minimum of 8 characters. Should have at least one uppercase letter, one number and one special character."
      id="password"
      placeholder="Τωρινός κωδικός"
      required
      />

      <input
      class="box"
      type="password"
      name="password"
      pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
      title="Minimum of 8 characters. Should have at least one uppercase letter, one number and one special character."
      id="password"
      placeholder="Νέος κωδικός"
      required
      />

      <input
        class="submit"
        type="submit"
        id="submitDetails"
        name="submitDetails"
        value="Αποθήκευση "
      />
      <p class="forgot" align="center">
    </form>
  </body>
 
  